
.desktop-header{
    padding: 0 0 10px;
    background-color: #000;
}
.desktop-header ul{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
}


.desktop-header ul li{
    list-style: none;
}

.desktop-header ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    padding: 10px 20px;
    transition: 0.5s;
}

.desktop-header ul li a:hover{
    background-color: red;
    color: #fff;
    border-radius: 4px ;
}

.header-btn{
    padding: 20px 0 0;
}

.header-btn button {
    padding: 10px 40px;
    background-color: red;
    color: #fff;
    border: 2px solid transparent;
    transition: 0.5s;
}
.header-btn button:hover{
    background-color: transparent;
    border: 2px solid red;
    color: red;
}

.logo-img {
    background-image: url('../images/logo_bg.png.webp');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 91px;
    height: 100px;
}


.banner{
    background-image: url('../images/banner-3.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    background-color: #958282;
    background-blend-mode: overlay;
    /* position: relative;
    top: 112px;
    left: 0; */
}

.banner-content .timer-img img{
    width: 161px;
    height: 153px;
    position: absolute;
    top: 30px;
    right: 30px;
}


.banner-content{
    padding: 75px 0;
    position:
    relative;
}
.banner-content p{
    line-height: 65px;
    font-size: 22px;
    color: #fff;
    position: relative;
    /* color:#fff */
}
.banner-content p::after{
    content: '';
    background-color: #ffffff;
    width: 228px;
    height: 2px;
    position: absolute;
    left: 0;
    top: 52px;
}

.timer-img img{
    position: absolute;
    top: 30px;
    right: 25px;
    width: 165px;
    height: 165px;
}

.banner-content h1{
    font-size: 100px;
    text-shadow: 4px 3px #000000;
    line-height: 95px;
    text-transform: uppercase;
    font-weight: 700;

color:#fff
}

.banner-content h2{
    font-size: 80px;
    font-weight: 700;
    text-shadow: 2px 2px #000000;
    text-transform: uppercase;
    line-height: 100px;

color:#fff
}
/* .banner-btn{
    padding-top: 30px;
} */

.banner-btn a{
    background-color: red;
    color: #fff;
    padding: 10px 40px;
    text-decoration: none;
    font-weight: 500;
    transition: 0.5s;
    border: 2px solid transparent;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}


.banner-btn a:hover{
    background-color: transparent;
    border: 2px solid #ff3300;

}


.our-courses img{
    height: 300px;
    width: 100%;
}


@font-face {
    font-family: play-Regular;
    src: url('../font-family/Play-Regular.ttf');
}

.main-heading h1{
    font-size: 55px;
    font-family: play-Regular;
}
.our-courses{
    padding: 50px 0;
}

.main-heading p{
    font-family: play-Regular;
    font-size: 20px;
    width: 70%;
    margin: auto;
}

.card-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0 0;
}
.card-content h2{
    font-size: 20px;
}
.card-content p{
    font-size: 20px;
    color: red;
    font-weight: 700;
}


.desc{
    font-size: 17px;
    line-height: 20px;
    color: #958282;
    font-family: play-Regular;
}


.card-btn a{
    padding: 8px 20px;
    background-color: red;
    color: #fff;
    text-decoration: none;
}

.table-section img{
    height: 600px;
}

.table-section thead {
    background-color: red;
    color: #fff;
}

.table-section tr{
    height: 60px;
}
.table-section h1{
    font-size: 50px;
    font-family: play-Regular;
}
.table-section p{
    font-size: 20px;
    width: 70%;
    color: #958282;
}

.main {
    display: flex;
    flex-wrap: wrap;
    
}
.main img{
    height: 200px;
    width: 322px;
}

.collect-img{
  padding: 50px 0;
}

.third-wrap{
    background-image: url('../images/body-6.jpeg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: overlay;
    background-color: #3e3e3e;
    height: 600px;
    position: relative;
}

.content{
    transform: translate(-50%,-50%);
    left: 50%;
    position: absolute;
    text-align: center;
    margin: 250px 0;
}


.content h1{
    color: #fff;
    font-size: 50px;
}
.content p{
    font-size: 20px;
    padding: 20px 0;
    color:#fff;
}


.content a{
    padding: 10px 20px;
    background-color: red;
    color: #fff;
    text-decoration: none;
    border: 2px solid transparent;
    transition: 0.5s;
}
.content a:hover{
    background-color: transparent;
    border: 2px solid red;
}

.fourth-section img{
    height: 600px;
    width: 100%;
}

.fourth-section h1{
    font-size: 50px;
    font-family: play-Regular;
    font-weight: 700;
}

.fourth-section p{
    font-size: 20px;
    line-height: 25px;
    color: #958282;
}

.testimonial-card {
    padding: 30px 20px;
    text-align: center;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    margin-bottom: 50px;
    height: 346px;
    transition: 0.5s;
}

.testimonial-card:hover {
  
    transform: scale(1.1);
}


.testimonial-heading h1{
    font-family: play-Regular;
    font-size: 40px;
    font-weight: 600;

}

.testimonial-heading p{
    font-family: play-Regular;
    font-size: 20px;
    width: 70%;
    color: #acacac;
    margin: auto;

}
.testimonial-card img{
    border-radius: 50%;
    height: 80px;
    width: 80px;
    border: 5px solid red;
    padding: 5px;
}
.testimonial-card p{
    margin: auto;
    width: 80%;
    color: #9f9f9f;
    font-family: 'play-Regular';
    padding: 40px 0;
}
.testimonial-card h4{
    padding: 10px 0;
}




footer{
    padding: 80px 0;
    background-color: red;
    /* opacity: 0.8; */
    color: #fff;
}

.inputDiv {
    position: relative;
    padding-top: 10px;
}
.inputDiv i {
  font-size: 20px;

}
::placeholder{
    color: #fff;
}
.inputDiv input{
    color: #fff;
    width: 80%;
    border: none;
    height: 40px;
    background-color: #ff7777;
    padding-left: 15px;
    /* border-bottom: 2px solid #000; */
    position: relative;
}
input:focus{
    outline: none;
    border:1px solid #fff; 
}

.inputDiv button{
    padding: 2px 20px;
    background-color: red;
    color:#fff;
    font-size: 20px;
    top: 13px;
    border: none;
    position:absolute;
    right: 114px;
}



.footer-links{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-icons i{
    padding: 15px 18px;
    margin: 0 6px;
    background-color: #ff6363;
    color: #fff;
    cursor: pointer;
    transition: 0.5s;
}


.social-icons i:hover{
    color: red;
    background-color: #fff;
}
























